[submodule "SeAr"]
	path = SeAr
	url = git@github.com:trojal/SeAr-mirror.git
[submodule "athena-fr"]
	path = athena-fr
	url = git@github.com/Cedroux/athena-fr
[submodule "bookofymir"]
	path = bookofymir
	url = git@github.com:trojal/bookofymir-mirror.git
[submodule "Cronus"]
	path = Cronus
	url = git@github.com:Cronus-Emulator/Cronus.git
[submodule "cronusdewata"]
	path = cronusdewata
	url = git@github.com:trojal/cronusdewata-mirror.git
[submodule "ECTP"]
	path = ECTP
	url = git@github.com:trojal/ECTP-mirror.git
[submodule "Hercules"]
	path = Hercules
	url = git@github.com:HerculesWS/Hercules.git
