[submodule "SeAr"]
	path = SeAr
	url = git@github.com:trojal/SeAr-mirror.git
[submodule "athena-fr"]
	path = athena-fr
	url = git@github.com:Cedroux/athena-fr.git
[submodule "bookofymir"]
	path = bookofymir
	url = git@github.com:trojal/bookofymir-mirror.git
[submodule "Cronus"]
	path = Cronus
	url = git@github.com:Cronus-Emulator/Cronus.git
[submodule "cronusdewata"]
	path = cronusdewata
	url = git@github.com:trojal/cronusdewata-mirror.git
[submodule "ECTP"]
	path = ECTP
	url = git@github.com:trojal/ECTP-mirror.git
[submodule "Hercules"]
	path = Hercules
	url = git@github.com:HerculesWS/Hercules.git
[submodule "eathena"]
	path = eathena
	url = git@github.com:eathena/eathena.git
[submodule "trunk"]
	path = trunk
	url = git@github.com:idathena/trunk.git
[submodule "idAthena"]
	path = idAthena
	url = git@github.com:idathena/trunk.git
[submodule "rathena"]
	path = rathena
	url = git@github.com:rathena/rathena.git
[submodule "ruAthena"]
	path = ruAthena
	url = git@github.com:trojal/ruAthena-mirror.git
[submodule "srAthena"]
	path = srAthena
	url = https://github.com/M45T3Ryu/srAthena
