[submodule "SeAr"]
	path = SeAr
	url = git@github.com:trojal/SeAr-mirror.git
[submodule "athena-fr"]
	path = athena-fr
	url = git@github.com/Cedroux/athena-fr
[submodule "bookofymir"]
	path = bookofymir
	url = git@github.com:trojal/bookofymir-mirror.git
